h1{
    background-color: coral;
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
}
/* div li p{
    color: yellow;
    background-color: green;
    font-weight: bold;
} */
/* div > p{
    color: yellow;
    background-color: green;
    font-weight: bold;
} */
/* div+p{
    color: white;
    background-color: red;
} */